/*@media only screen and (min-width: 850px) {*/

    header>img {
        box-shadow: 1px 1px 5px black;
    } 

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav {
        background-color: var(--nav-background-color-large);
        padding: 1px;
    }

    nav a:hover {
        background-color: var(--nav-link-hover-background);
        color: var(--header-color);
        border-radius: 5px;
    }

    nav a {
        text-align: center;
    }


    #menu {
        display: none;
    }

    .hide {
        display: flex;
        justify-content: center;

    }

    nav button {
        display: none;
    }

    main .card1 img {
        display: block;
        height: auto;
        width: 100%;
    }


    main .card-event1 img{
        display: block;
        height: auto;
        width: 100%;
    }

    .parent1 h2 {
        font-family: var(--heading-font);
        font-size: 49px;
        font-weight: bold;
    }


    .card2 p {
        font-size: 19px;
    }


    .parent1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .parent2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    .parent2 .weather {
        grid-column: 1 / 3;
    }

    .parent3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* styling for discover page */

    .discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        margin-top: 50px;
    }

    .discover-sidebar {
        grid-column: 1 / 2;
    }

    .discover-content {
        grid-column: 2 / 3;
    }

    .left-sidebar-2 img {
        display: block;
        width: 100%;
        height: auto;
    }

    .discover-content img {
        display: block;
        width: 100%;
        height: auto;
    }

    .discover-content img:hover {
        opacity: .5;
    }

    .discover-content h2 {
        text-align: center;
        border-top: 2px solid var(--accent-color);
        border-right: 2px solid var(--accent-color);
    }

    .left-sidebar-1 h2 {
        border-bottom: 2px solid var(--accent-color);
        text-decoration-color: var(--accent-color);
        border-right: 2px solid var(--accent-color);

    }

    .discover-sidebar button {
        height: 35px;
        background-color: #e1c65a;
        border: 2px solid var(--accent-color);
        font-weight: bolder;
        font-size: 17px;
        cursor: pointer;
        padding: 10px 20px 30px;
        /* Adjusting padding as needed */
    }

    .discover-sidebar button:hover {
        background-color: var(--header-color);
    }

    .left-sidebar-2 {
        margin-top: 50px;
    }

    .left-sidebar-2 h2 {
        text-align: center;
    }

    .left-sidebar-3 {
        margin-top: 50px;

    }

    .left-sidebar-3 h2 {
        text-align: center;
    }

    .content {
        margin-top: 40px;
    }



    ul.active.show {
        display: flex;
        justify-content: flex-end;

    }

    .content {
        /* display: grid; */
        /* grid-template-columns: 2fr 1fr; */
        column-gap: 5px;
    }

    #hero-box {
        position: relative;
    }

    #hero-btn {
        display: block;
        position: absolute;
        left: 10%;
        top: 10%;
        /* text-align:center; */
        /* transform: translate(-50%, -50%); */
    }

    .contents {
        display: flex;
        column-gap: 20px;
    }

    .current-events {
        grid-column: 1 / 2;
        box-shadow: 1px 1px 20px black;
    }

    .weather-card {
        grid-column: 2 / 3;
        box-shadow: 1px 1px 20px black;

    }

    .spotlights {
        grid-column: 1 / 3;
        box-shadow: 1px 1px 20px black;
    }


    .footer {
        margin-top: 30px;
    }

    .footer_info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_info>p {
        margin-bottom: 0;
        margin-right: 20px;

    }

/*}*/