* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Robotomono", sans-serif;
}


header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    
}
header > main {
	max-width: 767px;
	margin: 0 auto;
    column-gap: 30px;
}
header > h1{
    font-size: 1.5rem;

}
h1 {
	font-size: 1.1rem;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
    
header,
footer,
nav {
    background-color: #d3d3db;
}

.main h1 {
    margin: 1rem 2vw;
}

.main h1 section {
    border: 1px #142f14;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;

}


nav {
    background-color: rgb(60, 166, 171);
    margin: 0 auto;
    max-width: 1550px;
}
nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}
  
nav a:hover {
    background-color: rgba(36, 67, 53, 0.2);
}


.learning {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

    
}

.learning > .card {
    text-align:center;
    padding: 12px;
    background-color:  rgb(2, 2, 66);
    color: white;
}
.learning > ul{
    margin: 12px;
}

.learning > ul {
    margin: 12px;
}
.learning > ul > li {
    margin-left: 16px;
    margin-bottom: 8px;
    list-style-type: none;
}
.information {
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}
.information > .card {
    text-align:center;
    padding: 12px;
    background-color:  rgb(1, 1, 58);
    color: white;
}
.information > p {
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
}

.information > .p {
    margin-left: 50px;
    margin-bottom: 5px;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: yellow;
   
}

.footer {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    margin: 12px;
    /* fixed */
}

.footer_info > p {
    margin-bottom: 5px;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

	
  