@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto mono", monospace;

}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    cursor: pointer;
    background-color: #eee;
    color: #000;
    padding: .25rem 2vw;
}

.hide {
    display: none;
}

#menu::before {
    content: "≡";
}

ul .active .show {
    display: block;
}

#menu.show::before {
    content: "X";
}


#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: #fff;
    /* Light mode background color */
    color: #333;
    /* Light mode text color */

}

#modeToggleBtn {
    border: none;
}

.dark-mode {
    background-color: #333;
    /* Dark mode background color */
    color: #fff;
    /* Dark mode text color */
}





header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

header img {
    border-radius: 100px;
}

header>main {
    max-width: 767px;
    margin: 0 auto;
    column-gap: 30px;
}

header>h1 {
    font-size: 2.5rem;

}

h1 {
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

header,
footer,
nav {
    background-color: #edf2f4;
}

.main h1 {
    margin: 1rem 2vw;
}

.main h1 section {
    border: 1px #142f14;
    background-color: #edf2f4;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;

}

/*
main {
    max-width: 100%;
    margin: 0 auto;
}
*/



.hero {
    margin: 0px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    /*height: 300px;*/
    height: auto;
    width: 100%;

}

/*
.hero picture {
    width: 100%;
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: auto;

}
*/

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 10%;
    left: 5%;
    background: radial-gradient(#fff, #2b2d42);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */

}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: "Roboto mono", monospace;
}


nav {
    background-color: #2b2d42;
    /* rgba(60, 166, 171) */
    margin: 0 auto;
    max-width: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}

nav a:hover,
nav a:active {
    background-color: #8d99ae;
    /*rgba(36, 67, 53, 0.2)*/
}



.learning {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;


}

.learning>.card {
    text-align: center;
    padding: 12px;
    background-color: #2b2d42;
    /*rgb(2, 2, 66);*/
    color: white;
}

.learning>ul {
    margin: 12px;
}

.learning>ul {
    margin: 12px;
}

.learning>ul>li {
    margin-left: 16px;
    margin-bottom: 8px;
    list-style-type: none;
}

.information {
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}

.information>.card {
    text-align: center;
    padding: 12px;
    background-color: #2b2d42;
    /*rgb(1, 1, 85);*/
    color: white;
}

.information>p {
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
}

.information>.p {
    margin-left: 50px;
    margin-bottom: 5px;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

/*.active {
    background-color: rgba(0, 0, 0, 0.3)
    color: yellow;
}
*/

#visits {
    color: navy;
    font-weight: bolder;
    font-size: larger;
}


iframe {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    border-radius: 4px;
}

.footer {
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    margin: 12px;
    /* fixed */
}

.footer_info>p {
    margin-bottom: 5px;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}