:root {
    --color: rgb(47, 51, 169);
    --border: hsla(0, 79%, 29%, 0.8);
    --border-bottom: hsla(0, 35%, 54%, 0.3);
    --label: rgba(3, 1, 12, 0.4);

}


body {
    font-family: Roboto, Arial, sans-serif;
    margin: 1rem;
}

main {
    padding: 0 2%;
    min-height: 20re