:root {
    --color: rgb(47, 51, 169);
    --border: hsla(0, 79%, 29%, 0.8);
    --border-bottom: hsla(0, 35%, 54%, 0.3);

}


body {
    font-family: Roboto, Arial, sans-serif;
    margin: 1rem;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

h1 {
    font-size: 1.75rem;
    color: black;
    border-bottom: 1px solid #ce8080;
}

label {
    display: block;
    font-weight: 700;
}

input[type=text],
input[type=range],
input[type=radio] {
    margin: 1rem;
    padding: 0.5em;
}


form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: .5rem 2%;

}


form legend {
    color: var(--color);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label {
    display: block;
    padding-top: 1rem;
    color: #090807;
    font-size: .8rem;
}