@media screen and (min-width: 758) {

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        
    }

    .main section {
        box-shadow: 1px 1px 10px black;
    }

    .informaion {
        grid-column: 2 / 3;
    }

}