@media only screen and (min-width: 1024px) {

    header > img {
        box-shadow: 1px 1px 5px black;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    .hide {
        display: flex;

    }

    ul.active.show{
        display: flex;
        justify-content: flex-end;
    
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;  
    }

    /* .main section {
        box-shadow: 1px 1px 10px black;
    } */
    .learning{
        grid-column: 1 / 2;
        box-shadow: 1px 1px 20px black;
    }

    .information {
        grid-column: 2 / 3;
        box-shadow: 1px 1px 20px black;
    }

    .footer_info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_info > p{
        margin-bottom: 0;
        margin-right: 20px;
    }


}